---
---

<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Brian Yee</title>
  <style type="text/css">
{% include css/reset.css %}
{% include css/s.css %}
  </style>
</head>
<body>
  <div id="wrapper">
  <header>
    <h1>Simple rules for good typography</h1>
    <hr>
    <p>Here are some <strong>basic rules</strong> to <strong>improve your typography</strong> across either web or print. Of course, rules are only to start with, and are meant to be broken. But if you want something to look neat, clean and generally well-designed they are a good set to follow.</p>
  </header>
  <section>
    <h3>Don't use too many typefaces</h3>
    <p>Consistency throughout</p>
  </section>
  </div>
</body>
</html>