---
---

<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Brian Yee</title>
  <style type="text/css">
{% include css/reset.css %}
{% include css/s.css %}
  </style>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="wrapper">
  <header>
    <h1>Brian Yee</h1>
    <hr />
    <h2>Developer, designer, etc.</h2>
  </header>
  <section class="content">
    <a href="mailto:brian.a.yee@gmail.com">brian.a.yee@gmail.com</a>
    <a href="http://www.github.com.com/byee01">byee01</a>
    <a href="http://www.twitter.com/BadKemer">@BadKemer</a>
  </section>
  </div>
</body>
</html>