/** Base Page **/
/* Colors
 * background #E5E5E5
 * text #333
 * accent #FF5335
 */

body {
  background: #333;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 20px;
}

header {
  margin-bottom: 30px;
}

#container {
  margin: 0 auto;
  width: 300px;
}

h1 a {
  color: #E5E5E5;
  float: left;
  font-weight: normal;
  line-height: 1.5em;
  margin-top: -18px;
  text-decoration: none;
}

nav {
  margin-left: 130px;
}

nav li {
  display: inline;
}

nav a {
  color: #E5E5E5;
  padding: 6px;
  text-decoration: none;
}

nav a:hover {
  color: #FF5335;
}
