body {
  color: #222;
  background: #fefefe;
  max-width: 800px;
  padding: 0 4%;
  margin: 20px auto;

  font-family: serif;
  font-size: 150%;
  line-height: 1.5;
  vertical-align: baseline;
}

img {
  width: 100%;
}

h1 {
  font-size: 200%;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 150%;
  font-weight: normal;
  margin-bottom: 0;
}

h3 {
  font-size: 125%;
  font-weight: normal;
  margin-bottom: 0;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0;
}

pre > code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px; 
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; 
}

a {
  color: #F70;
}

a:hover {
  color: #FA5;
}

a:active {
  color: #C60;
}

a:visited {
  color: #B40;
}

::selection {
  background: #F70;
  color: #fff;
}

/** Phones **/
@media (max-width: 500px) {
  html > body {
    font-size: 2em;
  }
}
