/** Base Page **/

/* Colors
 * background #E5E5E5
 * text #333
 * accent #FF5335
 */

body {
  background-color: #333;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 20px;
}

#container {
  margin: 0 auto;
  width: 300px;
}

h1 {
  color: #E5E5E5;
  font-weight: normal;
  line-height: 1.75em;
}

#content {
  background: #E5E5E5;
}
