/* COLOR PALETTE */

/************************/
/* For IE to render HTML5 elements properly */
header, footer, article, section, nav, menu {
  display: block;}
/*********/

body {
  /*
  color: #111;
  background: #E7E7E7;
  */
  color: #333;
  background: #F8F8F8;
  font-family: serif;
  font-size: 1em;
  line-height: 1.5;
  vertical-align: baseline;
}

html>body {
  font-size: 22px;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 5em;
  line-height: 1;
  font-weight: normal;
}

h3 {
  background: #333;
  color: #F8F8F8;
  font-size: 1.25em;
  font-weight: normal;
  display: inline;
  padding: 3px 4px;
}

header p {
  font-size: 1.75em;
  line-height: 1.25;
}