---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Brian Yee's personal website" />
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Brian Yee</title>
  <style type="text/css">
    /** Base Styles **/
    {% include css/base.css %}
  </style>
  {% if site.safe %}
    {% include partials/ga %}
  {% endif %}
</head>
<body>
  {{ content }}
  <hr />
  <a href="https://www.instagram.com/byee01/" title="Occasionally I take photos." rel="me" target="_blank">@byee01</a> // <a href="mailto:hello@brianayee.com" title="Shoot me an email at hello@brianayee.com">hello@brianayee.com</a>
</body>
</html>
