---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Brian Yee{% if title %} | title {% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">
    /** Normalize CSS from necolas.github.com/normalize.css/ **/
    {% include css/normalize.css %}

    /** Page Styles **/
    {% include css/base.css %}
  </style>
</head>
<body>
  <section id="container">
    <header>
      <h1>Brian Yee</h1>
      <nav>
        <h2>Nav</h2>
        <ul>
        {% for page in site.pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
      </nav>
    </header><!-- /header -->
    <section id="content">
      {{ content }}
      <ul>
      {% for post in site.categories.articles reversed %}
          <li class="{{ post.category }}"><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </section>
  </section>
</body>
</html>
